@import url("https://fonts.googleapis.com/css?family=Merriweather");

.navbar-custom {
  background-color: #cdb7b3;
}
.nav-img {
  max-width: 50%;
  max-height: 50%;
}
.navbar-head {
  background-color: #fff;
}
#nav-txt {
  font-size: 15px;
}

/*2nd navbar*/
.header-nav {
  font-family: Merriweather;
  font-weight: 1000;
  font-size: 5em;
}

/*3rd navbar*/
.navbar-custom2 {
  background-color: #f5f5f5;
}

/*center image*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 20%;
  max-height: auto;
}

.danger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  max-width: 30%;
  max-height: auto;
}

.active {
  text-decoration: underline;
}