/*carousel style*/

.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0 !important;
}

.carousel-caption h1 {
  text-align: left;
  margin-left: 30px;
  margin-top: 50px;
}

.carousel-caption p {
  text-align: right;
  margin-right: 10px;
}

/*posts style*/
#latest-post-image{
  width: 30%;
  height: auto;
}
#latest-post-image1{
  width: 30%;
  height: auto;
}
#latest-post-content{
  font-size: 13px;
}
#latest-post-content1{
  font-size: 13px;
}